
.container__cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    align-items: center;
    padding-bottom: 20px;
    width: 90%;
    overflow: hidden;
    background: #2DAAE1;
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
}

.card__img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cards__text{
    display: inline-block;
    text-align: left;
    width: 95%;
    margin: auto;
}

.card__list{
    color: blueviolet;
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;
}

.card__title{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 20px 0 10px 0;
}

.card__text{
    color: #fafafa;
    margin: 20px 0;
}

.card__button{
    display: block;
    background-color: #fafafa;
    border-radius: 6px;
    text-decoration: 90%;
    width: 100%;
    color: #2DAAE1;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}


.card__date{
    color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.testimony__card{
    width: 30%;
    height: 500px;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.testimony__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    border-radius: inherit;
    object-position: center top;
}

.testimony__text{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background-color: $faradayVio;
    color: #fafafa;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 8px;
    display: flex;
    align-items: center;
    transition: .4s;
}
.testimony__text:hover{
    background-color: $faradayBlue;
}
.testimony__text__modifier{
    background: none;
}

.testimony__logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}

.testimony__name{
    font-size: 24px;
    line-height: 20px;
}
.testimony__position{
    color: #FFFFFF;
    font-weight: 500;
    padding: 10px;
}