.caja{
    width: 100%;
    height: 100vh;
    background: $faradayBlue;
}
.caja input{
    display: none;
}

.nav__caja{
    color: #FFFFFF;
    height: 60px;

}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0;
}

.img__carousel{
    height: calc(100vh - 60px);
    object-fit: cover;
}


#logo1{
    height: 30px;
    margin: 3vh;
}

.link{
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    padding: 0 10px;
}
.link:hover{
    font-weight: 700;
}

.caja__main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    padding: 3vh;
}
.mockup{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}
.caja__textos{
    width: 40%;
    text-align: left;
    display: block;
}

.title{
    font-size: 56px;
    text-align: left;
    font-weight: 300;
    color: #FFFFFF;
}

.title__active{
    font-weight: 700;
}

.text{
    font-size: 24px;
    color: #FFFFFF;
    margin: 40px 0;
}

.text__active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background-color: #FFFFFF;
    color: $faradayBlue;
    text-decoration: none;
    font-weight: 700;
    border-radius: 6px;
}
.cta:hover{
    background-color: $faradayVio;
    transition: 0.5s;
    color: #fafafa;
}
.carousel-caption{
    background-color: $faradayBlue;
    border-radius: 6px;
}
.carousel__title{
    font-size: 24px;
    font-weight: 700;
}
.carousel__p{
    font-size: 18px;
    margin: 5px;
}
.caja .bx{
    color: $faradayBlue;
}
